<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Hashtag recommender project</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
        <p> </p>
        <p> </p>
        <p> </p>
            <p> Thank you for checking out my project page :)</p>
            
            <p> The goal of this project is to help you optimize your intagram hashtag
            game. Instagram hashtags categorize your post, but also can help your content
            reach a wider audience. For companies that have an instagram presence, or
            hire instagram influencers to promote their products, making sure each post
            reaches as wide an audience as possible is crucial. Improving the content of
            your posts is difficult, but changing out your hashtags for ones that 
            will increase viewrship is now easy! Just put in the hashtags you want to use,
            and the recommender will suggest alternative hashtags which are thematically
            similar, but happen to be more popular according to our analysis.</p>
            
            <p> The 
            
            <p> The analysis is based on looking at 1.6 million posts from an Instagram dump
             based on the Instagram weekend hashtag project (WHP). The data was collected
             by researchers Emilio Ferrara, Roberto Interdonato, and Andrea Tagarelli, and
             their work was published as:
             Online Popularity and Topical Interests through the lens of Instagram.
            In Proceedings of the 25th ACM Conference on Hypertext and Social Media, September 1–4, 2014, Santiago, Chile</p>
            
            <p>The dataset contains two relational tables. The post table contains
             metadata for 1.6 million posts, including an
            anonymized user id, the hashatags used, and the number of likes the 
            post received. The user table contains  </p>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>